@{
    Console.WriteLine(ViewBag);
}
<h1>Edit User Role</h1>

<form asp-action="EditUser" method="post">

    <input type="hidden" placeholder="@ViewBag.Id" />
    <label>Role:</label>
    <select name="role" class="form-control" asp-items="ViewBag.Roles"></select>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

