@model Assignment1.Models.Article

<h2>@Model.Title</h2>
<p><strong>@Model.ContributorUsername</strong>, @Model.CreateDate.ToString("MMMM dd, yyyy")</p>
<p>@Html.Raw(Model.Body)</p>
<a asp-action="Articles">Back to List</a>
